@use "@fontsource-variable/space-grotesk";

@use "sass:color";
@use "sass:string";

@function srgbify($color) {
  @return "#" + string.slice(color.ie-hex-str($color), 4);
}

:root {
  --col-bg: #{srgbify(oklch(0.98 0.005 200deg))};
  --col-fg: #{srgbify(oklch(0.1 0 0deg))};
  --col-accent: #{srgbify(oklch(0.5 0.3 200deg))};

  font-family: "Space Grotesk Variable", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  background-color: var(--col-bg);
  color: var(--col-fg);
}
